@using Northwind.Model
@model ViewProducts



<table class="table">
<thead>
    <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
    </tr>
</thead>
  <tbody>
          @foreach (Product product in Model.products)
    {
       <tr>
      <th scope="row">@product.ProductName</th>
      <td>$@product.UnitPrice</td>
      <td>@product.UnitsInStock</td>
    </tr> 
    }
    
  </tbody>
</table>