@using Northwind.Model
@model IEnumerable<Product>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Product p in Model)
    {
      <tr>
        <th scope="row">@p.ProductName</th>
        <td>$@p.UnitPrice</td>
        <td>@p.UnitsInStock</td>
      </tr>
    }
  </tbody>
</table>